// = colour library
$peach: #E36954;
$cream: #FBFEE9;
$light_green: #dae5ab;
$poison_green: #CBCB35;
$med_green: #A2A94C;
$dark_green: #6B8363;
$default: #777;
$dark_grey: #444;
$med_grey: #999;
$light_grey: #ccc;
$feint_grey: #dedede;
$feint: #eee;