/* -----------------------------------------------------------------------
Layout: position, floats, display, width, height, margins, paddings....
----------------------------------------------------------------------- */

#header {overflow:hidden; margin:8px 0 16px;}
#user_nav {float:right;}




#wrapper {width: $max_width; margin: 0 auto; position: relative}

#header {overflow: hidden;}
#header h1 {margin-top: 32px;}

#user_nav {float: right;}
#main_nav {overflow: hidden; margin-bottom: 32px;}
#main_nav li {float: left; padding: 5px 9px; width: auto; margin-right: 12px; border-radius: 6px; font-size: 16px;}


section.notices {position:relative; float:left; width:40%; padding:1em;  margin:0 3em 4em 0;}
.drop-shadow {border-radius: 6px;}
.drop-shadow:before, .drop-shadow:after {content: ""; position: absolute; z-index: -2; bottom: 15px; left: 10px; width: 48%; height: 20%; max-width: 300px; @include transform(-3deg);}
.drop-shadow:after {right: 10px; left: auto; @include transform(3deg);}

div.main {float: left; width: 50%;}
div.main li {margin-bottom: 20px; padding-bottom: 5px;}

div.main p.view_all {float: right; width: auto; @include transform(2deg);}
div.main p.view_all a {padding: 5px 7px;}
